<div class="container">
<section class="card topMargin mb-5">
    <div class="card-header bg-black yellowText h2">Your Surveys</div>
    <div>
        <ul>
            {{#if surveys.length}} 
                {{#each surveys as |survey|}}
                <a href="/survey/{{id}}">
                    <li class="mySurveyList my-2 d-flex">
                        <div class="d-inline m-2">{{format_date date_created}}: "{{title}}"</div><button class="btn custom-btn d-inline ml-auto m-1" id="deleteBtn">Delete</button>
                    </li>
                </a>
                {{/each}}
            {{else}}
            <p class="font-italic mt-2">You have no surveys at this time.</p>
            {{/if}}
        </ul>
    </div>
</section>


<section class="card mb-5 hide" id="surveyForm">
    <div class="card-header bg-black yellowText">Create New Survey</div>
    <div class="card-body">
        <form class="newSurveyForm">
            <div>
                <label for="surveyTitle" class="form-label">Title:</label>
                <input class="form-input w-100 mb-2" id="surveyTitle" type="text" name="surveytitle"/>
            </div>
            <div>
                <label for="surveyQuestion" class="form-label">Question:</label>
                <input class="form-input w-100 mb-2" id="surveyQuestion" type="text" name="question"/>
            </div>
            <div>
                <label for="surveyOption" class="form-label">Option 1:</label>
                <input class="form-input w-100 mb-3" id="option1" type="text" name="option1"/>
            </div>
            <div>
                <label for="surveyOption" class="form-label">Option 2:</label>
                <input class="form-input w-100 mb-3" id="option2" type="text" name="option2"/>
            </div>
            <div>
                <label for="surveyOption" class="form-label">Option 3:</label>
                <input class="form-input w-100 mb-3" id="option3" type="text" name="option3"/>
            </div>
            <div>
                <label for="surveyOption" class="form-label">Option 4:</label>
                <input class="form-input w-100 mb-3" id="option4" type="text" name="option4"/>
            </div>
            <button type="submit" class="btn custom-btn" id="submitSurvey">Submit</button>
        </form>
    </div>
</section>
</div>
<div class="text-center mt-3">
    <button type="button" class="btn custom-loginbtn mx-auto title" style="width: 200px;" id="createBtn">+ Create Survey</button> 
</div>

<script src="./js/create.js"></script> 
<script src="./js/delete.js"></script> 