<div class="container">

    <div class="row forYouBox text-center">
        <div class="techFont whiteText">WHAT CAN WE<br>ANSWER<span class="yellowText techFont">&nbsp;FOR YOU</span></div>
    </div>

    {{!-- HOW GIT SURVEYS WORKS --}}
    <div class="row mx-4">
        <div class="col bg-yellow content_center pointer rounded-circle m-4 p-5" data-toggle="modal" data-target="#stepsModal">
            <div class="row text-center">
                <h1 class="whiteText">How<br><span class="title">Git Surveys</span><br>Works</h1>
            </div>
            {{!-- modal --}}
            <div class="modal fade" id="stepsModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">How Git Surveys Works</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <ol class="h5">
                                <li>Sign-up</li>
                                <li>Create a survey in your dashboard</li> 
                                <li>Generate the link</li>
                                <li>Share the link with your friends</li>
                                <li>Revisit GitSurveys to view the results!</li>
                            </ol>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        {{!-- EXAMPLE SURVEYS    --}}
        <div class="col bg-yellow content_center pointer rounded-circle m-4 p-5" data-toggle="modal" data-target="#staticBackdrop">
            <div class="row text-center">
                <h1 class="whiteText">Example<br><span class="title">Surveys</span></h1>
            </div>
            {{!-- modal --}}
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Example Surveys</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title">What is your favorite ice cream?</h5>
                                    <p class="card-text">Date Created: 9/20/2022</p>
                                    <a href="/survey/5" class="btn custom-btn py-1">View</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Which basketball player is the GOAT?</h5>
                                    <p class="card-text">Date Created: 9/20/22</p>
                                    <a href="/survey/6" class="btn custom-btn py-1">View</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Who is the best 90s band?</h5>
                                    <p class="card-text">Date Created: 9/20/22</p>
                                    <a href="/survey/4" class="btn custom-btn py-1">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Create a Survey --}}
        {{#if loggedIn}}
            <div class="col bg-yellow content_center pointer rounded-circle m-4 p-5">
                <a href="/dashboard">
                    <div class="row text-center">
                        <h1 class="whiteText">Create a<br><span class="title">Survey</span></h1>
                    </div>
                </a>
            </div>
        {{else}}
            <div class="col bg-yellow content_center pointer rounded-circle m-4 p-5">
                <a href="/login">
                    <div class="row text-center">
                        <h1 class="whiteText">Create a<br><span class="title">Survey</span></h1>
                    </div>
                </a>
            </div>
        {{/if}}  
    </div>
</div>