<h2 class="text-light text-center p-0">Example Surveys</h2>

<div class="row justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner p-5">
        <div class="carousel-item active">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">What is your favorite ice cream?</h5>
                    <p class="card-text">Date Created: 9/20/2022</p>
                    <a href="/survey/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Which basketball player is the GOAT?</h5>
                    <p class="card-text">Date Created: 9/20/22</p>
                    <a href="/survey/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Which TA is the best?</h5>
                    <p class="card-text">Date Created: 9/20/22</p>
                    <a href="/survey/{{id}}" class="btn custom-btn py-1">View Survey</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>