<button class="navbar-toggler mb-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <a class="navbar-brand" href="/"><img src="/images/icon.png" alt="Git Surveys Logo" class="rounded-circle"
            width="100" height="90"></a>
</button>

<main class="container h-90 mt-5">
    <div class="row h-90 justify-content-center align-items-center">
        <div class="container w-50">
            <h1 class="text-white">Sign-in</h1>
            <p class="text-white">No account? <a href="/signup">Create one!</a></p>
            <form class="mt-4 text-white">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" id="emailVal">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="passwordVal">
                </div>
                <button type="submit" class="btn custom-loginbtn" id="loginBtn">Submit</button>
            </form>
        </div>
    </div>
</main>