:root {
    --yellow: #ffc107;
    --black: black;
    --white: white;
    --techFont:'Quantico', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size: cover;  
}

.custom-navbar {
    background-color: var(--yellow);
}

#title {
    color: var(--black);
    font-family: var(--techFont);
}

.custom-btn {
    background-color: var(--black);
    color: var(--white);
}

.custom-btn:hover {
    color: var(--yellow);
}

nav li:hover {
    border: 2px solid black;
    padding: 2px;
 }
 
#mainContainer {
    margin-top: 130px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC107' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC107' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselExampleIndicators {
    margin-top: -40px;
    
.custom-loginbtn {
    background-color: var(--yellow);
    color: var(--black);
}